@model NotificationsResponse
@{
  ViewBag.Title = "Notifications";
}
<div class="container-fluid p-4">
  <header class="d-flex  justify-content-between align-items-center ">
    <h1>@ViewBag.Title</h1>
    <form asp-action="mark" asp-controller="notifications" method="post">
      <button type="submit" class="btn btn-link btn-sm px-0">Mark all as read</button>
    </form>
  </header>

  <div class="list-group">
    @foreach (var notification in Model.Data) {
      @if (notification.IsUnread ?? false) {
        <div class="list-group-item unread d-flex justify-content-between align-items-center">
          @notification.Plain
          <form asp-action="read" asp-controller="notifications" asp-route-id="@notification.Id" method="post">
            <button type="submit" class="btn btn-sm btn-icon" title="Mark as read">
              <span data-feather="check"></span>
            </button>
          </form>
        </div>
      } else {
        <div class="list-group-item read d-flex justify-content-between align-items-center">
          @notification.Plain
          <form asp-action="unread" asp-controller="notifications" asp-route-id="@notification.Id" method="post">
            <button type="submit" class="btn btn-sm btn-icon" title="Mark as unread">
              <span data-feather="circle"></span>
            </button>
            </form>
        </div>
      }
    }
  </div>
</div>
